body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
}

.terminal {
  border-style: solid;
  border-color: white;
  border-width: .1em;
}

table {
  text-align: left;
  cellpadding: 10px;
  border-spacing: 4px;
}


.fw {
  color: white;
}
.fr {
  color: red;
}
.fg {
  color: green;
}
.fb {
  color: blue;
}
.fc {
  color: cyan;
}
.fm {
  color: magenta;
}
.fy {
  color: yellow;
}
.fx {
  color: black;
}


.bw {
  background-color: white;
}
.br {
  background-color: red;
}
.bg {
  background-color: green;
}
.bb {
  background-color: blue;
}
.bc {
  background-color: cyan;
}
.bm {
  background-color: magenta;
}
.by {
  background-color: yellow;
}
.bx {
  background-color: black;
}